/* Reset di base */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Struttura principale */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Contenuto principale */
main {
    flex: 1 0 auto;
    /* flex-grow: 1, flex-shrink: 0, flex-basis: auto */
    padding: 20px;
}

/* Footer che si comporta dinamicamente */
footer {
    flex-shrink: 0;
    /* Impedisce al footer di rimpicciolirsi */
    background-color: #f8f9fa;
    text-align: center;
    padding: 2px 0;
    border-top: 1px solid #eaeaea;
}

/* Stili per le card */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: auto;
    padding: 16px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    min-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-card-img {
    max-height: 100px;
    object-fit: contain;
}

.my-carousel-img {
    max-height: 400px;
    object-fit: cover;
}

.my-card-text {
    font-size: 16px;
    min-height: 60px;
}

.my-td-text-right {
    text-align: right;
    white-space: nowrap;
}

/* Stili per il carosello */
.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}